.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

:root{
  --color-yellow:rgba(215, 153, 34,.6);
  --color-blue: rgba(197, 203, 227,.5);

  --color-gray: gray;
  --color-white: rgba(255, 255, 255,.5);

  --color-shadow:rgb(0, 0, 0,.6);
}

.summerBlock{
  background-image:linear-gradient(to bottom right,var(--color-yellow),var(--color-blue));
  box-shadow: 0 2rem 3rem var(--color-shadow);
}

.app{
  height:100vh;
  width:100%;
  background-size: cover;
  display:flex;
  justify-content: center;
  align-items: center;
}

.summerApp{
  background-image: linear-gradient(to bottom right, var(--color-blue),var(--color-yellow));
}

.winterApp{
  background-image: linear-gradient(to bottom right, var(--color-gray),var(--color-white));
}

[class="box"]{
  height:100%;
  width:100%
}

@media only screen and (min-width: 768px) {
  .box{
    height: 60%;
    width: 30%;
  }
}

.weatherApp{
  border-width:1px; 
  border-style: solid;
  border-radius: 6px;
  border-color: var(--color-blue);
  background-image:linear-gradient(to bottom right,var(--color-blue),var(--color-white));
  box-shadow: 0 2rem 4rem var(--color-shadow);
  color:black;
  text-align: center;
  justify-content: center;
  padding-top: 5px;
  font-size: 10px;
}

.summary{
  display: flex;
  flex-direction: column; 
}

.currentWeather{
  height:75px;
  margin-bottom: 50px;
  padding-top:20px
}